{{#articles}}
  <article class="row article">
    <div class="span4 columns">
      <h3><a href="/article/{{file}}">{{title}}</a></h3>
      <dl>
      {{#meta}}
        <dt>{{key}}</dt>
        <dd>{{value}}</dd>
      {{/meta}}
      </dl>

    </div>
    
    <div class="span11 columns">
      <section>
      {{{summary}}}
      <a href="/article/{{file}}" class="readMore">Read more »</a>
      </section>
    </div>
  </article>
{{/articles}}